@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*
 * Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* Primary colors. */
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --clr-dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral color. */
  --clr-dark-gray: hsl(0, 0%, 59%);
  --clr-light-gray: hsl(225, 10%, 92%);
  /* Fonts. */
  --ff-primary: "Kumbh Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--clr-dark-cyan);
  font-family: var(--ff-primary);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profile-card-component {
  max-width: 326px;
  background-color: white;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  border-radius: 0.9375rem;
  margin: auto;
  position: relative;
}

.profile-card-component::before {
  content: "";
  background-image: url(./images/bg-pattern-top.svg);
  width: 978px;
  height: 978px;
  position: absolute;
  bottom: 6.25rem;
  right: 10rem;
  z-index: -1;
}

.profile-card-component::after {
  content: "";
  background-image: url(./images/bg-pattern-bottom.svg);
  width: 978px;
  height: 978px;
  position: absolute;
  top: 10rem;
  left: 6.25rem;
  z-index: -1;
}

.user__background-pattern {
  border-radius: 0.9375rem 0.9375rem 0 0;
  height: min(100vh, 140px);
  width: 100%;
}

.user__profile-picture {
  border: 5px solid white;
  border-radius: 50%;
  width: 6rem;
  position: absolute;
  left: calc(50% - 6rem / 2);
  top: calc(50% - 6rem / 2 - 47px);
  z-index: 1;
}

.user__name {
  color: var(--clr-very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 0.75rem;
}

.user__age {
  color: var(--clr-dark-grayish-blue);
  font-weight: 400;
  margin-left: 0.25rem;
}

.user__location {
  color: var(--clr-dark-grayish-blue);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  margin-bottom: 1.75rem;
}

.user__stats {
  border-top: 1px solid var(--clr-light-gray);
  padding: 1.5rem 2.5rem;
  color: var(--clr-dark-grayish-blue);
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 0.09375rem;
  line-height: 0.75rem;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user__stats--number {
  color: var(--clr-very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 1.375rem;
  text-align: center;
  margin-bottom: 0.5625rem;
  display: flex;
  flex-direction: column;
}

.attribution {
  color: white;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  text-align: center
}

.attribution a {
  color: var(--clr-light-gray);
  text-decoration: none;
}

.attribution a:hover {
  color: blue;
}